@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body,
html {
    height: 100%;
    margin: 0;
    /* font: 400 15px/1.8 "Lato", sans-serif; */
    color: #777;
} 

body{
    animation: appear 1s ease-in-out;
}
@keyframes appear{
    from{
        /* height: 80%; */
        transform: scaleY(0.9) translateY(-10%);
        opacity: 0;
    }
    to{
        /* height: 100%; */
        transform: scaleY(1) translateY(0);
        opacity: 1;
    }
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
}


.nav{
    display: flex;
    position: absolute;
    top: 1em;
    right: 3em;
    color: black;
    font-size: 1.2em;
    font-family: Montserrat;
    font-weight: bold;
}
.navlinks{
    margin: 0 1em;
    transition: 0.3s;
}
.navlinks:hover{
    cursor: pointer;
    color: blue;
    border-bottom: 2px solid red;
    transition: 0.3s;
}

.brand {
    display: flex;
    flex-direction: row;
}
.brand span {
    margin: 0.2em 1em;
    color: rgb(231, 0, 0);
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
.brand .logo {
    animation: brandify 1s ease-in;
}
.brand .logo img {
    position: absolute;
    top: 3em;
    left: 5em;
    width: 26%;
}
.brand .logo img:hover {
    cursor: pointer;
}
@keyframes brandify{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.tagline {
    position: absolute;
    top: 6em;
    left: 2.5em;
    color: white;
    font-size: 2.5em;
    font-family: Montserrat;
    animation: slideInLeft 1.5s linear;
}
.tagline .highlight {
    font-weight: bold;
}

@keyframes slideInLeft{
    from{
        opacity: 0;
        left: -2.5em;
    }
    to{
        opacity: 1;
        left: 2.5em;
    }
}

.name {
    position: absolute;
    top: 18em;
    left: 5em;
    color: white;
    font-family: Montserrat;
    font-size: 1.2em;
    animation: slideInLeft2 3s linear;

}
@keyframes slideInLeft2{
    0%{
        opacity: 0;
        left: 2.5em;
    }
    50%{
        opacity: 0;
        left: 2.5em;
    }
    100%{
        opacity: 1;
        left: 5em;
    }
}


.buy {
    position: absolute;
    top: 12em;
    width: 10em;
    min-height: 2em;
    margin: 3em 6em;
    border-radius: 30px;
    color: yellow;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    transition: 0.3s;
}
.buy:hover {
    cursor: pointer;
    color: black;
    background-color: yellow;
    transform: scaleX(1.05) scaleY(1.1);
    transition: 0.3s;
}
.more {
    position: absolute;
    bottom: 1em;
    left: 50%;
    width: 0;
    height: 0;
    border-left:  25px solid transparent;
    border-right: 25px solid transparent;
    border-top:   25px solid #f00;
    animation: updown1 1.5s ease-in-out infinite;
}

@keyframes updown1 {
    0% {
        transform: translateY(-200%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-200%);
    }
}

.mouse {
    position: absolute;
    top: 12em;
    right: 5em;
    width: 25em;
    filter: drop-shadow(0 0 2em red);
    animation: slideInRight 1.5s linear, zoomInOut 2s linear infinite 1.5s;
}
.mouse img {
    width: 100%;
    transition: 0.3s;
}
.mouse img:hover {
    cursor: pointer;
    /* filter: none !important;
    filter: drop-shadow(0 0 2em red) !important; */
    transform: scale(1.1);
    transition: 0.3s;
}
@keyframes slideInRight{
    0%{
        opacity: 0;
        right: -5em;
    }
    100%{
        opacity: 1;
        right: 5em;
    }
}


.seperator{
    background-image: url("ai4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    color: #777;
    background-color:white;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding:50px 80px;
    text-align: justify;
}
.seperator h3{
    font-size: 4em;
    font-weight: bold;
    color: black;
    opacity: 1;
}


.less {
    position: relative;
    left: 50%;
    width: 0;
    height: 0;
    border-left:   25px solid transparent;
    border-right:  25px solid transparent;
    border-bottom: 25px solid rgb(55, 0, 255);
    animation: updown2 1.5s ease-in-out infinite;
}

@keyframes updown2 {
    0% {
        transform: translateY(200%);
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(200%);
    }
}

.desc {
    position: relative;
    height: 100vh;
}
.mouse2 {
    position: absolute;
    top: 0em;
    left: 16em;
    width: 15em;
}
.mouse2 img {
    width: 100%;
    transition: 0.3s;
    filter: drop-shadow(0 0 1.5em blue);
    animation: zoomInOut 2s linear infinite;
}
.mouse2 img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.card {
    padding: 1em;
    color: black;
    width: 15em;
    border-radius: 5px;
    transition: 0.4s;
    text-align: center;
    font-family: Montserrat;
}
@keyframes zoomInOut{
    0%{
        transform: scale(1);
        filter: drop-shadow(0 0 1.5em blue);
    }
    50%{
        transform: scale(1.05);
        filter: drop-shadow(0 0 3em blue);
    }
    100%{
        transform: scale(1);
        filter: drop-shadow(0 0 1.5em blue);
    }
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgb(170, 170, 170);
    transition: 0.4s;
    cursor: pointer;
}

.card-header {
    margin: 0 0 0.6em 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid black;
}
.card-body {
    color: #777;
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
}

.c1 {
    position: absolute;
    top: 5em;
    left: 40em;
}
.c2 {
    position: absolute;
    top: 8em;
    right: 3em;
}
.c3 {
    position: absolute;
    top: 30em;
    left: 10em;
}
.c4 {
    position: absolute;
    top: 30em;
    left: 60em;
}

.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("bg.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    /* background-image: url("ai1.jpg"); */
    background-image: url("ai3.jpg");
    min-height: 100vh;
}
